<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pgbudget.Properties.Settings.pgbudgetConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\pgbudget.accdb"
            providerName="System.Data.OleDb" />
        <add name="pgbudget.Properties.Settings.pgbudgetConnectionString1"
            connectionString="Data Source=.;Initial Catalog=pgbudget;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>